header{
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    
}

body{
    margin: auto;
}

footer{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body{
    height: 690px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block2, .block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    width: 780px;
    margin-bottom: 30px;

}

.block2{
    width: 200px;
}

.header1{
    font-family: 'Arial';
    font-size: xx-large;
}

.header2{
    font-family: 'Arial';
    font-size: x-large;
}

.txt_settings, .par_settings{
    font-family: 'Arial';
    font-size: large;
}
